<div class="col-md-4 top-forms text-center mt-lg-3 mt-md-1 mt-0">
    <span>Hoşgeldin</span>
    @if (!User.Identity.IsAuthenticated)
    {
        <span class="mx-lg-4 mx-md-2  mx-1">
            <a href="/Login/Index">
                <i class="fas fa-lock"></i> Giriş Yap
            </a>
        </span>
        <span>
            <a href="/Register/Index/">
                <i class="far fa-user"></i> Kayıt Ol
            </a>
        </span>
    }
    else
    {
        <span>
            <a href="#">
                <i class="far fa-user"></i>
                @User.Identity.Name
                @*@User.Claims.FirstOrDefault(e => e.Type == System.Security.Claims.ClaimTypes.Name).Value*@
            </a>
        </span>
        <span>
            <a asp-controller="Login" asp-action="Logout">
                <i class="far fa-lock"></i>
                Çıkış
            </a>
        </span>
    }
</div>